<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Speciality</th>
                <th>Experience</th>
                <th>Qualification</th>
            </tr>
        </thead>
        <tbody>
            {% for doctor in doctors %}
                <tr>
                    <td>{{ doctor.name }}</td>
                    <td>{{ doctor.speciality }}</td>
                    <td>{{ doctor.experience }}</td>
                    <td>{{ doctor.qualification }}</td>

                    <td> <a href="{% url 'getsingledoctor' doctor.pk %}">View</a></td>
                    
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>